<div class="item first_slide azure active">            	
	<div class="content_large" id="outter_container_first_slide">
		<div class="content_top">
    		<h1>Are you ready for success?</h1>
    	</div>
    	<div class="content_center" id="central_container_first_slide">
            
			<div class="content_small" id="content_small_circle">
                <div class="circle" id="first_slide_circle">
                	<h3 id="start_text">START</h3>	
                </div>     
            </div>
            <div class="content_small" id="content_small_circle_2">
                <div class="circle_2" id="first_slide_circle_2"></div>     
            </div>	

			
		</div>
		<div class="content_bottom">   
			<section>Take this short test to find out if you are ready to take your idea to the next level</section>
		</div>
	</div> 	             
</div>