<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Average Response Time</th>
      <th>Counter</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %></td>
        <td><%= question.average_response_time %></td>
        <td><%= question.average_response_counter %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
