@import "bootstrap";

@font-face {
    font-family: 'geared_slabregular';
    src:  url(font-path('gearedslab-webfont.eot'));
    src:  url(font-path('gearedslab-webfont.eot?#iefix')) format('embedded-opentype'),
          url(font-path('gearedslab-webfont.woff')) format('woff'),
          url(font-path('gearedslab-webfont.ttf')) format('truetype'),
          url(font-path('gearedslab-webfont.svg#geared_slabregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

#data_container{
  visibility: hidden;
}

.texture_image_class_yellow{
    content: asset_url('yellow_texture.png');
}
.texture_image_class_blue{
    content: asset_url('blue_texture.png');
}

html, body{
  margin: 0px;
  position: fixed;
  padding: 0px;
  font-size: 4px; 
  width: 100%; 
  height: 100%;
}

.small_circles_content{
  
  width: 95%;
  height: 95%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;


}

.texture_div img {
  top: -1em;
  width: auto;
  height: 110%;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  path{
    fill: #e4c52e;
  }
}

.circle {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background: #8b3b3b;
  display: inline-block;
  margin: 2em;
  cursor: pointer; 
}

.circle_2 {
  width: 21em;
  height: 21em;
  border-radius: 50%;
  background: #e1cb34;
  display: inline-block;
  visibility: hidden;
  margin: 2em;
  cursor: pointer;
}
#content_small_circle_2{
  top: -1em;
  z-index:1;
}

#content_small_circle{
  z-index:2;
}

.not_hidden_class{
  visibility: visible !important;
}

.small_circle_1{
  background: #8ad2c4;
}
.small_circle_2{
  background: #74baac;
}
.small_circle_3{
  background: #57a697;
}
.small_circle_4{
  background: #338376;
}
.small_circle_5{
  background: #25685e;
}

.small_circle {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  margin: 0.5em;
  cursor: pointer;
  color: white;
  font-family: "geared_slabregular";   
  //min-width: 14px;
  padding: 0.6em 0 0 0;
  text-align: center;
  font-weight: normal;
  line-height: 2em;
  font-size: 2em;
}

.content_large {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.content_top {
  width: 100%;
  height: 18%;
  overflow: hidden;
  margin: auto;
  z-index: 2;
  position: relative;
  top: 1.5em; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.content_center {
  width: 100%;
  height: 40%;
  overflow: hidden;
  position: relative;
  top: -1em; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 0;
}


.content_bottom {
  width: 100%;
  height: 20%;
  overflow: hidden;
  margin: 0.5em;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 2;
  padding-bottom: 1em;
}



.content_start {
  width: 20em;
  height: 9em;
  overflow: hidden;
  margin: auto;
  position: absolute;
  cursor: pointer;
  top: -2em; left: 0; bottom: -2em; right: 0;
  text-align: center;
  z-index:3;
}


.content_of_small_circle {
  width: 10em;
  height: 8em;
  display: inline-block;
  position: relative;
}
.content_of_small_circle_h2 {
  display: inline-block;
  position: relative;
  height: 8em;
  top: -2em;
  vertical-align: middle;
  padding-right: 2em;
}

.small_circle_on_hover{
  border-style: solid;
  border-width: 0.15em;
  padding-top: 0.45em;
}

.mini_site{
  .carousel-indicators {
    margin-left: 0%;      
  }

  .carousel-inner {
    height: 100%;   
  }

  
  .item{
     
    text-align: center;     
    min-width: 100%; 
    min-height: 100%; 
    background: #40b1a3; 
    position: relative;
    font-family: "geared_slabregular";

    footer {
      width: 100%;
      height: 5em;
      overflow: hidden;
      margin: auto;
      visibility: hidden;
      position: relative;
      top: 1em; left: 0; bottom: 0; right: 0;
      text-align: center;

      svg {
        vertical-align: middle;
        padding-bottom: 3em;
        display: inline;
        width: 3.7em ;
        height: auto;
        path,rect {
          fill: #e4c52e;
        }
        cursor: pointer;
      }
      address{
        font-size: 3em;
        color: #e4c52e ;
        display: inline;
        cursor: pointer;
      }
    }
    
    header {
      width: 100%;
      height: 9%;
      overflow: hidden;
      position: relative;
      top: 0em; left: 0; bottom: 0; right: 0;

      .content_of_header {
        width: 85%;
        height: 95%;
        overflow: hidden;
        visibility: hidden;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
      }

      svg {
        display: inline-block;
        width: 3.2% ;
        height: 4em;
        path {
          fill: #e4c52e;
        }
      }
      .content_medium {
        display: inline-block;
        top: 1em;
        width: 90%;
        position: relative;
      }

      .content_page_number {
        display: inline-block;
        position: relative;
        width: 8%;
        address{
          font-size: 3em;
          margin: auto;
          display: inline-block;
        }
      }
    }


    h1{
      font-size: 3em;
      text-align: center;
      line-height: 1em;
      font-weight: normal;
      margin: 0.5em; 
    }

    h2{
      font-size: 2em;
      font-weight: normal;
      line-height: 1em;
      display: inline-block;
    } 

    section{
      margin: 0;
      font-size: 3em;
      text-align: center;
   
    }

    .content_small {
      width: 100%;
      height: 40em;
      overflow: hidden;
      font-size: 1em;
      margin: auto;
      position: absolute;
      top: 8em; left: 0; bottom: 0; right: 0;
      text-align: center;
    }

    


    &.first_slide{
      
      background-image: url("/assets/banana_texture.svg") !important;
      background-size: 7em !important;
      background-repeat: repeat; 

      .content_small {
        height: 24em;
        top: 0em;
      }

      .content_top {
        top: 1em;
        height: 25%;
      }

      .content_center {
        margin: 0.5em;
      }

      .content_bottom {
        top: 3em;
        height: 20%;
        padding-bottom: 0;
      }

      .content_medium {
        width: 100%;
        height: 50%;
        position: relative;
      }

      h1{
        font-size: 7em;        
      }

      footer {
        top: 4em;
      }

      section{
        font-size: 4em;
        color: #e4c52e ; 
   
      }

      h3{
        font-size: 7em;
        line-height: 0.2em;
        color: #e4c52e ;
        text-shadow: -0.05em -0.02em #2f8376;    
      }

    }

    &.last_slide{

      .content_small {
        height: 100%;
        top: 0;
      }

      .content_top {

      }

      .content_center {
        height: 54%;
        top: 0;
      }

      .content_bottom {
        top: 3em;
      }

      .content_medium {

      }

      h1{
     
      }

      footer {
        width: 95%;
        height: 10em;
        visibility: visible;
        top: -7em;
        z-index: 3;

        svg {
          width: 10em ;
          float: right;
        }
      }

      section{
        font-size: 2.8em;
        color: #e4c52e ;    
      }

      h3{

      }

    }


    &.azure{

      .small_circle_1{
        background: #b45f60;
      }
      .small_circle_2{
        background: #974848;
      }
      .small_circle_3{
        background: #8a3c3d;
      }
      .small_circle_4{
        background: #7b3738;
      }
      .small_circle_5{
        background: #5d2a2b;
      }

      h1{   
          color: #e4c52e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #fff;          
          font-family: "geared_slabregular";    
      }
    
      background: #4bbea4;  

      header, footer {
        address{
          color: #e4c52e ;
        }
        svg {     
          path, rect  {
            fill: #e4c52e;
          }
        }
      }    

    }

    &.red{

      h1{   
          color: #fffbed;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #fffbed;
          
          font-family: "geared_slabregular";    
      }

      background: #85313B;      

      header, footer {
        address{
          color: #fffbed ;
        }
        svg {     
          path, rect  {
            fill: #fffbed;
          }
        }
      } 
    }

    &.yellow{
      
      h1{   
          color: #21685e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #21685e;
          
          font-family: "geared_slabregular";    
      }

      background: #e1cb34;      

      header, footer {
        address{
          color: #21685e ;
        }
        svg {     
          path, rect {
            fill: #21685e;
          }
        }
      } 

    }

    &.green{
      
      .small_circle_1{
        background: #b45f60;
      }
      .small_circle_2{
        background: #974848;
      }
      .small_circle_3{
        background: #8a3c3d;
      }
      .small_circle_4{
        background: #7b3738;
      }
      .small_circle_5{
        background: #5d2a2b;
      }

      h1{   
          color: #e4c52e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #e4c52e;
          
          font-family: "geared_slabregular";    
      }

      background: #215648;      

      header, footer {
        address{
          color: #e4c52e ;
        }
        svg {     
          path, rect  {
            fill: #e4c52e;
          }
        }
      } 

    }

  }

}

@media only screen 
and (min-height: 385px){
  html, body{
    font-size: 6px; 
  }
  .content_start {
    top: -1em;
  }

  .mini_site .item.first_slide h3{
    line-height: 0.5em;
  }
}
@media only screen 
and (min-height: 500px) and (min-width: 640px){
  html, body{
    font-size: 8px; 
  }
  .content_start {
    top: 0;
  }
}

@media only screen 
and (min-height: 600px) and (min-width: 790px){
  html, body{
    font-size: 10px; 
  }
  .content_start {
    top: 0;
  }
  .mini_site .item.first_slide h3{
    line-height: 0.7em;
  }
}

@media only screen 
and (min-height: 720px) and (min-width: 950px){
  html, body{
    font-size: 12px; 
  }
  .content_start {
    top: 0;
  }
}

@media only screen 
and (min-height: 840px) and (min-width: 1120px){
  html, body{
    font-size: 14px; 
  }
  .content_start {
    top: 0;
  }
  .mini_site .item.first_slide h3{
    line-height: 0.9em;
  }
  
}

@media only screen 
and (min-height: 500px) and (min-width: 780px){
  html, body{
    .texture_div img{
      visibility: visible !important;
    }
    .content_of_header{
      visibility: visible !important;
    }
  }

}












