@import "bootstrap";

@font-face {
    font-family: 'geared_slabregular';
    src:  url(font-path('gearedslab-webfont.eot'));
    src:  url(font-path('gearedslab-webfont.eot?#iefix')) format('embedded-opentype'),
          url(font-path('gearedslab-webfont.woff')) format('woff'),
          url(font-path('gearedslab-webfont.ttf')) format('truetype'),
          url(font-path('gearedslab-webfont.svg#geared_slabregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

#data_container{
  visibility: hidden;
}

.texture_image_class_yellow{
    content: image-url('yellow_texture.png');
}
.texture_image_class_blue{
    content: image-url('blue_texture.png');
}

html, body{
  margin: 0px;
  position: fixed;
  padding: 0px;
  font-size: 2px; 
  width: 100%; 
  height: 100%;
}

.small_circles_content{
  
  width: 100%;
  //height: 95%;
  overflow: hidden;
  margin: auto;
  //position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;


}

.texture_div img {
  top: -1em;
  width: auto;
  height: 110%;
  z-index: 1;
  visibility: hidden;
  position: absolute;
  path{
    fill: #e4c52e;
  }
}



.not_hidden_class{
  visibility: visible !important;
}
.hidden_class{
  visibility: hidden !important;
}

.small_circle_1{
  background: #8ad2c4;
}
.small_circle_2{
  background: #74baac;
}
.small_circle_3{
  background: #57a697;
}
.small_circle_4{
  background: #338376;
}
.small_circle_5{
  background: #25685e;
}



.content_large {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.content_top {
  width: 100%;
  height: 16%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  //top: 1.5em; left: 0; bottom: 0; right: 0;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.content_center {
  width: 100%;
  //height: 40%;
  overflow: hidden;
  position: relative;
  top: 0em; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 0;
}


.content_bottom {
  width: 100%;
  //height: 20%;
  overflow: hidden;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  z-index: 2;
  padding-bottom: 1em;
}










.mini_site{
  .carousel-indicators {
    margin-left: 0%;      
  }

  .carousel-inner {
    height: 100%;   
  }

  .item{
     
    text-align: center;     
    min-width: 100%; 
    min-height: 100%; 
    position: relative;
    font-family: "geared_slabregular";

    .content_of_small_circle {
      display: inline-block;
      position: relative;
      cursor: pointer;

      h2 {
        position: relative !important;
        margin: 0;
        font-size: 5em;
        font-weight: normal;
        line-height: 1em;
        display: inline-block;
        //position: absolute;
        //top: 3em;
        top: 0.1em;
        left: -0.2em;
        width: 4em;
      }
    }

    .small_circle {
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      //position: absolute;
      //margin-left: 2em;
      margin: 0;
      cursor: pointer;
      color: white;
      font-family: "geared_slabregular";   
      //min-width: 14px;
      padding: 0.6em 0 0 0;
      text-align: center;
      font-weight: normal;
      //line-height: 2em;
      font-size: 7em;
    }

    .small_circle_on_hover{
      border-style: solid;
      border-width: 0.2em;
      padding-top: 0.45em;
    }



    .small_circle_on_click{
      border-style: solid;
      border-width: 0.2em;
      padding-top: 0.2em;
    }

    footer {
      width: 100%;
      //height: 5em;
      overflow: hidden;
      margin: auto;
      display: inline-block;
      visibility: hidden;
      //position: relative;
      top: 0; left: 0; bottom: 0; right: 0;
      vertical-align: bottom;

      svg {

        margin: 0;
        position: absolute;
        //vertical-align: middle;
        padding-left: 1%;
        padding-right: 1%;
        display: block;
        width: auto;
        height: 3%;
        path, rect, text {
          fill: #e4c52e;
        }
        cursor: pointer;
        bottom: 3%;
        left: 45%;
      }
      address{
        font-size: 3em;
        color: #e4c52e ;
        display: inline;
        cursor: pointer;
      }
    }
    
    header {
      width: 100%;
      //height: 9%;
      overflow: hidden;
      position: relative;
      top: 0em; left: 0; bottom: 0; right: 0;
      display: inline-block;
      .content_of_header {
        width: 100%;
        //height: 95%;
        overflow: hidden;
        margin: auto;
        //position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
      }

      svg{

        display: inline-block;
        width: 3.2% ;
        path, circle {
          fill: #e4c52e;
        }
      }

      .content_medium {
        //top: 1em;
        margin-bottom: 0.5%;
        
        position: relative;

      }

      #banana_svgs {
        display: none;
        width: 90%;
        top: 1em;
        svg{
          height: 4em;
        }
      }

      #circle_svgs {
        display: inline-block;
        width: 100%;
        svg{
          height: 5em;
        }
      }
      

      .content_page_number {
        display: inline-block;
        margin-bottom: 0.5%;
        margin-top: 3%;
        //position: relative;
        width: 20%;
        address{
          font-size: 4em;
          margin: 0;
          display: inline-block;
        }
      }
    }


    h1{
      font-size: 5em;
      text-align: center;
      line-height: 1.5em;
      font-weight: normal;
      margin-top: 3%; margin-left: 3%; margin-bottom: 0.5%; margin-right: 3%;
    }

    

    section{
      margin: 0;
      font-size: 3em;
      text-align: center;
   
    }

    .content_small {
      width: 100%;
      //height: 40em;
      overflow: hidden;
      font-size: 1em;
      margin-bottom: 0.5%;
      margin-top: 0.5%;
      //position: absolute;
     //top: 8em; left: 0; bottom: 0; right: 0;
      top: 0; left: 0; bottom: 0; right: 0;
      text-align: center;
    }

    


    &.first_slide{
      
      background-image: image-url('banana_texture.svg') !important;
      background-size: 20em !important;
      background-repeat: repeat; 
      background: #40b1a3;
      .content_start {
        width: 20em;
        height: 9em;
        overflow: hidden;
        margin: 0;
        position: relative;
        cursor: pointer;
        top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        display: block;


      }

      h3{
          font-size: 11em;
          //line-height: 0.2em;
          color: #e4c52e ;
          text-shadow: -0.05em -0.02em #2f8376; 
          position: absolute;   
          z-index:3;
          margin: 0;
          top: 1.5em;
          display: inline-block;
          cursor: pointer;
        }

      .circle {
        width: 40em;
        height: 40em;
        border-radius: 50%;
        background: #8b3b3b;
        display: inline-block;
        margin: 2em;
        cursor: pointer; 
      }

      .circle_2 {
        width: 43em;
        height: 43em;
        border-radius: 50%;
        background: #e1cb34;
        display: inline-block;
        visibility: hidden;
        margin: 2em;
        cursor: pointer;
      }
      #content_small_circle_2{
        top: -1.5em;
        z-index:1;
      }

      #content_small_circle{
        z-index:2;
      }

      .content_small {
        position: absolute;
      //height: 40em;
        top: 0;
      }

        #content_small_circle {
        position: absolute;
      }

      .content_top {
        top: 3%;
        height: 25%;
      }

      .content_center {
        margin: 0.5em;
        height: 43%;
      }

      .content_bottom {
       // top: 3em;
        width: 80%;
       display: inline-block;
      }

      .content_medium {
      //  width: 100%;
      //  height: 50%;
      //  position: relative;
      }

      h1{
        font-size: 11em;
        line-height: 1em;       
      }

      footer {
      //  top: 4em;
      }

      section{
        display: inline-block;
        font-size: 7em;
        color: #e4c52e ; 
   
      }

      

    }

    &.last_slide{

      background-image: image-url('banana_texture.svg') !important;
      background-size: 20em !important;
      background-repeat: repeat; 
      background: #40b1a3;
      .content_small {
        height: 100%;
        top: 0;
      }

      .content_top {
        height: 17%;
        font-size: 1.5em;

        h1{
          font-size: 7em;
          color: #21685e !important;
        }

      }

      .content_center {
        height: 55%;
        top: 0;
      }

      .content_bottom {
        //top: 3em;
        width: 90%;
        display: inline-block;

      }

      .content_medium {

      }

      

      footer {
      //  width: 95%;
      //  height: 10em;
        visibility: visible;
       // top: -7em;
        z-index: 3;

        svg {
          width: auto;
          height: 10%;
          float: right;
          display: block;
          margin: auto;
          bottom: 3%;
          position: absolute;
        }
        h2{
          position: absolute;
          bottom: 3%;
          top: auto;
          left: 3%;
          width: 8em;
          color: #21685e !important;
          font-size: 4em;
          z-index: 1;
        }
      }

      section{
        font-size: 5.5em;
        color: #21685e ;
        line-height: 1em    
      }

      h3{

      }

    }


    &.azure{

      .small_circle_1{
        background: #b45f60;
      }
      .small_circle_2{
        background: #974848;
      }
      .small_circle_3{
        background: #8a3c3d;
      }
      .small_circle_4{
        background: #7b3738;
      }
      .small_circle_5{
        background: #5d2a2b;
      }

      h1{   
          color: #e4c52e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #fff;          
          font-family: "geared_slabregular";    
      }
    
      background: #54bea3;  

      header, footer {
        address{
          color: #e4c52e ;
        }
        svg {     
          path, rect, circle, text  {
            fill: #e4c52e;
          }
        }
      }    

    }

    &.red{

      h1{   
          color: #fffbed;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #fffbed;
          
          font-family: "geared_slabregular";    
      }
      
      background: #82343c;      

      header, footer {
        address{
          color: #fffbed ;
        }
        svg {     
          path, rect, circle, text  {
            fill: #fffbed;
          }
        }
      } 
    }

    &.yellow{
      
      h1{   
          color: #21685e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #21685e;
          
          font-family: "geared_slabregular";    
      }

      background: #dfcb31;      

      header, footer {
        address{
          color: #21685e ;
        }
        svg {     
          path, rect, circle, text {
            fill: #21685e;
          }
        }
      } 

    }

    &.green{
      
      .small_circle_1{
        background: #b45f60;
      }
      .small_circle_2{
        background: #974848;
      }
      .small_circle_3{
        background: #8a3c3d;
      }
      .small_circle_4{
        background: #7b3738;
      }
      .small_circle_5{
        background: #5d2a2b;
      }

      h1{   
          color: #e4c52e;
          font-family: "geared_slabregular";    
      }

      h2{   
          color: #e4c52e;
          
          font-family: "geared_slabregular";    
      }

      background: #255747;      

      header, footer {
        address{
          color: #e4c52e ;
        }
        svg {     
          path, rect, circle, text  {
            fill: #e4c52e;
          }
        }
      } 

    }

  }

}




@media only screen 
and (min-width: 600px){
  .mini_site{
    .item{
      header{
        width: 90%;
      }
    }
  }
}
@media only screen 
and (min-width: 760px){
  .mini_site{
    .item{
      header{
        width: 80%;
      }
    }
  }
}
@media only screen 
and (min-width: 1000px){
  .mini_site{
    .item{
      header{
        width: 70%;
      }
    }
  }
}
@media only screen 
and (min-width: 1360px){
  .mini_site{
    .item{
      header{
        width: 60%;
      }
    }
  }
}
@media only screen 
and (min-width: 1800px){
  .mini_site{
    .item{
      header{
        width: 45%;
      }
    }
  }
}



@media only screen 
and (min-height: 350px) and (min-width: 300px){
  html, body{
    font-size: 3px; 
  }
  .mini_site{
    .item{
      .small_circle{
        width: 2em;
        height: 2em;
        font-size: 6em;
        padding: 0.4em 0 0 0;
      }



      .content_of_small_circle {
        .small_circle_on_hover{
          border-style: solid;
          border-width: 0.2em;
          padding-top: 0.25em;
        }

        h2 {
          font-size: 4em;
          left: -0.5em;
        }
      }
      .last_slide{
        h2{
          width: 7em;
          font-size: 4em;

        }

      }
    }

  }
}

@media only screen 
and (min-height: 480px) and (min-width: 400px){
  html, body{
    font-size: 4px; 
  }
}


@media only screen 
and (min-height: 620px) and (min-width: 520px){
  html, body{
    font-size: 5px; 
  }
  .mini_site{
    .item{
      .content_of_small_circle {
        .small_circle_on_hover{
          padding-top: 0.2em;
        }
      }

      &.first_slide{
        section{
          font-size: 6em;
        }
      }
    }
  }
}

@media only screen 
and (min-height: 800px) and (min-width: 680px){
  html, body{
    font-size: 6px; 
  }
  .mini_site{
    .item{
      
    }
  }
}




@media only screen 
and (min-height: 400px) and (min-width: 900px){
  html, body{
    .texture_div img{
      visibility: visible !important;
    }
    #bananas_header{

    }
    .content_of_header {
      
      
      #banana_svgs {
          display: inline-block !important;
        }

      #circle_svgs {
        display: none !important;
      }

      .content_page_number {
      //  width: 8% !important;
      //  height: 100% !important;
      }
    }
  }

}












